.Icon {
  justify-content: end;
  max-width: max-content;
}

@media (max-width: 600px) {
  .NavBar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
  }
  .CollapsedDivContainer {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .SearchDiv {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
  }
  .Icon {
    grid-column-start: 5;
    grid-column-end: 6;
    justify-self: end;
    padding-right: 12px;
  }
}
