@import "../docs-v1/public/globals.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --primary-color: #CD3C4D;
}

body {
  font-family: "DM Sans", sans-serif;
}

.overview-container {
  background: linear-gradient(160deg, #F4FDFF, #FBF4F4);
}

.connector-tab {
  display: block;
  width: 100%;
  text-align: start;
  padding: 8px 36px;
  cursor: pointer;
  box-sizing: border-box;
}

.active-connector {
  border: 1px solid var(--primary-color);
  border-radius: 30px;
}